language: python
env:
  - DATABASE_URL=postgres://postgres@localhost/trunk
python:
  - 2.7
install: pip install -q --use-mirrors tox
before_script:
  - psql -c 'create database trunk;' -U postgres
script: tox -e py26,py27,py33
